/*				ALL						*/
*{
}

body{
	background: #f7f7f7;
}

.nav-bar .head-top,
.product-Bar,
.cat-Bar{
	width: 1140px;
	margin: 0 auto;
}

/*				nav			*/
.nav-bar{
	background: #1e89e0;
	position:relative;
}
.nav-bar .user-bar a,
.nav-item a {
	font-size: 16px;
	color:#fff;
}

.nav-bar .head-logo,
.nav-bar .user-bar,
.nav-bar .nav-item{
	color: #fff;
	padding-top:20px; 
	padding-bottom:20px; 
	text-align: center;
	width: 105px;
	cursor: pointer;
}

.nav-item.active,
.nav-item:hover{
	transition: background .2s ease-in-out;
	background: rgba(0,0,0,0.2);
}

/*			userList		*/


.userList{
	position:absolute;
	left: 0;
	right: 0;
	background: #292929;
}

.userList .ss{
	position:absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100px;
	background: #292929;

	/*perspective: 0.3;*/
}
.userList .ss div{
	padding: 10px;
	background: rgba(0,0,0,0.5);
	border-top: 2px solid rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(0,0,0,1);
	user-select: none;
	cursor:pointer;
	/*margin: 10px;*/
}
.userList .ss div:hover{
	color:#00fdff;
	background: rgba(0,0,0,0.2);
}


/*				producr Bar	------------------------			*/

.product-Bar{
	margin-top: 30px;
}
/*.product-Bar::-webkit-scrollbar{
	display: none;
}*/
.productItem{
	display: inline-block;
	width: 360px;
	padding: 0px;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	border-radius: 3px;
	box-shadow:0 0 3px rgba(0,0,0,.1);
	position:relative;
	margin-top:10px;
	margin-bottom:10px;
}

.product-Bar .col:nth-of-type(3n) .productItem{
	background: #f00;
	margin-left: 15px;
	margin-right: 0;
}

.product-Bar:nth-child(3n+2) .productItem{
	background: #eee;
	margin-left: 15px;
	margin-right: 15px;
}

.product-Bar .col:nth-of-type(3n+1) .productItem{
	background: #000;
	margin-left: 0;	
	margin-right: 15px;
}
.productItem .productImg{
	height: 90px;
	width: 90px;
}
.productItem .productMainInfo{
	width: 270px;
	height: 90px;
}

.productItem .title,
.productItem .price{
	font-weight: bold;	
}
.productItem .SS{
	padding-left: 10px;
	font-size: 11px;
}

.productItem .title{
	padding-top: 10px;
	padding-left: 10px;
	font-size: 17px;
}

.productItem .price{
		padding-top: 18px;
	padding-left: 10px;
	font-size: 15px;
	color:#f00;
}

/*.productItem [class~="col-*"]{
	background: #292929;
}*/

/*				cat Bar--------------------					*/

.cat-Bar .active{
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
	/*border: 1px solid rgba(0,0,0,0.2);*/
	color: #000;
}

.cat-Bar{
	padding: 10px;
	margin-top: 50px;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 0 5px rgba(0,0,0,.1);
}

.cat-Bar .catItem{
	width: 85px;
	user-select: none;
	padding: 5px 2px;
	margin: 8px auto;
	cursor:pointer;
	margin-left:5px; 
	margin-right:5px; 
}
.cat-Bar .catItem:hover{
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
}
/*.cat-Bar .active:hover{
	background: #292929;
	border-radius: 5px;
	border: 1px solid #292929;
	color: #00fdff;
}*/


/*			cart bar-------------------				*/
.max{
	z-index: 1;
	display: none;
	position:fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
.cartContorl,
.addCartBtn{
	display: inline-block;
	position: absolute;
    right: 10px;
    bottom: 10px;
    border: 0;
	width: 90px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    border-radius: 20px;
    text-align: center;
	outline: 0;
	background-color: #0089dc;
}
.addCartBtn{
    color: #fff;
}
.main-bar{
	position:relative;
}

.cartBar{
	z-index: 3;
	position: fixed;
	top: 0;
	right: 0;
	margin-right:-295px;
	transition:margin-right 0.5s ease-out;
	bottom: 0;
	width: 330px;
	font-size: 0;
}
.cartBar .cartBtn{
	height: 100%;
	width: 35px;
	display: inline-block;
	background: #333;
	text-align: center;
}
.cartBar .cartBtn>div{
	display: block;
	position:relative;
	top: 50%;
	color:#ccc;
	line-height: 16px;
    padding: 7px 8px 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 700;
}

.cartBar .cartContent{
	position: relative;
	height: 100%;
	font-size: 17px;
	display: inline-block;
	width: 295px;
	background: #e6e6e6;
}

.cartBar .payBar,
.cartBar .cartList,
.cartBar .titleBar{
	background: #fff;
    font-size: 16px;
    color: #666;
    padding: 5px 10px;
}
.cartBar .cartList,
.cartBar .titleBar{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.cartBar .cartList,
.cartBar .payBar{
    border-top: 1px solid #ddd;
}

.cartBar .titleBar>a{
	max-width: 240px;
    display: inline-block;
    line-height: 16px;
    color: #333;
}

.cartBar .cartList .head{
	border-bottom: 1px solid #ddd;
}

.cartBar .cartList .head .emptied{
	text-align: right;
}
.cartBar .cartList .content .cartItem{
	color:#666;
	margin-top: 10px;
	font-size: 10px;
	line-height: 20px;
	margin-bottom: 10px;
}
.cartBar .cartList .content .cartItem .control>*{
	width: 20px;
	display: inline-block;
	font-size: 10px;
	border:1px solid #ddd;
	text-align: center;
	height: 20px;
}
.cartBar .cartList .content .cartItem .control>input{
	    line-height: normal;
}

.cartBar .cartList .content .cartItem .control>span{
	transition: opacity .2s ease-in-out;
	display: inline-block;
	opacity:0;
	cursor:pointer;
}
.cartBar .cartList .content .cartItem .removeBtn{
	color: red;
	border:none;
}


.cartBar .payBar{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.cartBar .payBar .buyBtn,
.cartBar .payBar .cartInfo{
	margin-bottom: 10px;
}
.cartBar .payBar .cartInfo{
	font-size: 13px;
}
.cartBar .payBar .buyBtn{

	font-size: 15px;
	width: 100%;
}

#cart-Bar{
	z-index: 2;
	display: none;
	background: #e5e5e5;
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
}
#cart-Bar .title{
	border-top: 1px solid rgba(0,0,0,0.2);		
}

#cart-Bar .cartItem{
	padding: 20px 5px;
	border-bottom: 1px solid rgba(0,0,0,0.2);		
}
#cart-Bar .cartItem span{
	user-select: none;
	padding: 5px 10px;
}
#cart-Bar .cartItem .count{
	border-top: 1px solid #292929;	
	border-bottom: 1px solid #292929;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);	
}
#cart-Bar .cartItem span:first-child{
	border-top: 1px solid #292929;
	border-bottom: 1px solid #292929;
	border-left: 1px solid #292929;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px; 
	margin: 0px;
}
#cart-Bar .cartItem span:last-child:hover,
#cart-Bar .cartItem span:first-child:hover{
	background: #00fdff;
	cursor: pointer;
}
#cart-Bar .cartItem span:last-child{
	border-top: 1px solid #292929;
	border-bottom: 1px solid #292929;
	border-right: 1px solid #292929;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px; 
	margin: 0px;
}